@model ControleFinanceiro1.Models.Categoria

@{
    ViewBag.Title = "Detalhes da Categoria";
}

<h3 class="page_header">Detalhes da Categoria</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
